default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext

    extensions:
        FriendsOfBehat\MinkDebugExtension:
            directory: %directory%
            clean_start: %clean_start%

        Behat\MinkExtension:
            sessions:
                default:
                    goutte: ~

    gherkin:
        filters:
            tags: "~@javascript"

javascript:
    extensions:
        FriendsOfBehat\MinkDebugExtension:
            directory: %directory%
            screenshot: %screenshot%
            clean_start: %clean_start%

        DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~

        Behat\MinkExtension:
            javascript_session: chrome
            sessions:
                chrome:
                    chrome:
                        api_url: http://127.0.0.1:9222
                        validate_certificate: false
            show_auto: false

    gherkin:
        filters:
            tags: "@javascript"
